<!DOCTYPE html>
<header>
  <h1>Tiny App</h1>
  <% if (!user){%>
  <a href="/login"> Login</a> |
  <a href="/register">Register</a>
  <% } else { %>
  <h4>Logged in as <%= user.email %></h4>
   <a href="/urls/new">Create New Tiny Url</a> |
  <a href="/urls">Urls</a> |
  <form method="POST" action= "/logout">
    <button>Logout</button>
  </form>
  <% } %>
</header>